* {
  font-family: "Monsteratt", sans-serif;
}

body{
  background-color: #51A4FB;
  padding: 0;
  margin: 0;
}

.logo {
  width: 30%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
}

.errorText {
  color: rgba(180, 0, 0);
  font-weight: bold;
  margin: 1rem;
}

.inputID {
  padding: 1rem;
  border: 1.5px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin: 0.25rem;
  width: 70%;
  text-align: center;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus, textarea:focus, select:focus{
  outline: none;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
}

.btn {
  width: 60%;
  border: 1px solid white;
  background-color: white;
  font-weight: bold;
  color: #51A4FB;
  margin: 0.35rem 0;
  padding: 1rem;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
}

.footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255, 0.3);
  font-size: 0.75rem;
}

table {
  border: 5px solid white;
  box-shadow: 0 0 10px 2px white;
}

td > p{
  font-weight: bold;
  text-align: center;
  margin: auto 0;
  padding: 0.75rem 0;
}

td {
  border: 1px solid black;
  margin: 0;
}

td:empty {
  border: none;
}